automation/n8n/workflow_notification.json
{
  "name": "Kivalao - Redemption notification",
  "active": false,
  "nodes": [
    {
      "id": "Webhook",
      "name": "Redemption Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "kivalao/redemption",
        "responseMode": "lastNode",
        "options": {
          "responseCode": 200,
          "responseBody": "{\"status\":\"accepted\"}",
          "responseHeaders": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      }
    },
    {
      "id": "Fetch_Transaction",
      "name": "GET Transaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "GET",
        "url": "={{$env.KIVALAO_API_URL}}/transactions/{{$json[\"transactionId\"]}}",
        "options": {
          "response": {
            "response": "json"
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "kivalao-jwt",
          "name": "Kivalao JWT"
        }
      }
    },
    {
      "id": "Set_Messages",
      "name": "Prepare Emails",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "referrerEmail",
              "value": "={{$json[\"referringPartner\"].email}}"
            },
            {
              "name": "redeemerEmail",
              "value": "={{$json[\"redeemingPartner\"].email}}"
            },
            {
              "name": "referrerBody",
              "value": "=Votre client vient d'utiliser son code chez {{$json.redeemingPartner.companyName}}. Commission due : {{$json.commissionAmount}} {{$json.currency}}."
            },
            {
              "name": "redeemerBody",
              "value": "=Vous devez {{$json.commissionAmount}} {{$json.currency}} a {{$json.referringPartner.companyName}} pour le code {{$json.code.codeString}}."
            }
          ]
        }
      }
    },
    {
      "id": "Email_Referrer",
      "name": "Email Referrer",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [
        1100,
        120
      ],
      "parameters": {
        "fromEmail": "={{$env.NOTIFICATION_FROM_EMAIL || 'notifications@kivalao.app'}}",
        "toEmail": "={{$json[\"referrerEmail\"]}}",
        "subject": "Code valide chez un partenaire",
        "text": "={{$json[\"referrerBody\"]}}"
      }
    },
    {
      "id": "Email_Redeemer",
      "name": "Email Redeemer",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [
        1100,
        280
      ],
      "parameters": {
        "fromEmail": "={{$env.NOTIFICATION_FROM_EMAIL || 'notifications@kivalao.app'}}",
        "toEmail": "={{$json[\"redeemerEmail\"]}}",
        "subject": "Commission \u00e0 verser",
        "text": "={{$json[\"redeemerBody\"]}}"
      }
    },
    {
      "id": "Respond_Ack",
      "name": "Respond to caller",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "responseBody": "{\"status\":\"notified\"}",
        "responseCode": 200,
        "responseData": "lastNode",
        "responseMode": "onReceived"
      }
    }
  ],
  "connections": {
    "Redemption Webhook": {
      "main": [
        [
          {
            "node": "GET Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Transaction": {
      "main": [
        [
          {
            "node": "Prepare Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Emails": {
      "main": [
        [
          {
            "node": "Email Referrer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Redeemer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Referrer": {
      "main": [
        [
          {
            "node": "Respond to caller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Redeemer": {
      "main": [
        [
          {
            "node": "Respond to caller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to caller": {
      "main": [
        []
      ]
    }
  }
}