automation/n8n/workflow_distribution.json
{
  "name": "Kivalao - Offer distribution",
  "active": false,
  "nodes": [
    {
      "id": "Webhook_Trigger",
      "name": "Distribution Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "kivalao/distribution",
        "responseMode": "lastNode",
        "responseData": "default",
        "options": {
          "responseCode": 200,
          "responseBody": "Codes en cours d'envoi",
          "responseHeaders": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        }
      }
    },
    {
      "id": "Fetch_Offers",
      "name": "GET Partner Offers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "GET",
        "url": "={{$env.KIVALAO_API_URL}}/partnerships/offers",
        "queryParameters": [
          {
            "name": "partnerId",
            "value": "={{$json[\"partnerId\"]}}"
          }
        ],
        "options": {
          "response": {
            "response": "json"
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "kivalao-jwt",
          "name": "Kivalao JWT"
        }
      }
    },
    {
      "id": "Loop_Offers",
      "name": "Split Offers",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "Generate_Code",
      "name": "POST Generate Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ],
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "={{$env.KIVALAO_API_URL}}/code/generate",
        "jsonParameters": true,
        "options": {
          "response": {
            "response": "json"
          }
        },
        "bodyParametersJson": "={\"offerId\": $json[\"id\"], \"clientEmail\": $node[\"Distribution Webhook\"].json[\"clientEmail\"], \"channel\": \"automation\"}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "kivalao-jwt",
          "name": "Kivalao JWT"
        }
      }
    },
    {
      "id": "Aggregate_Email",
      "name": "Build Email Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{$node[\"Distribution Webhook\"].json[\"clientEmail\"]}}"
            },
            {
              "name": "codes",
              "value": "={{$items(\"Generate_Code\").map(item => item.json.codeString).join(', ')}}"
            },
            {
              "name": "offerCount",
              "value": "={{$items(\"Generate_Code\").length}}"
            }
          ]
        }
      }
    },
    {
      "id": "Send_Email",
      "name": "SendGrid - Send",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [
        1675,
        200
      ],
      "parameters": {
        "fromEmail": "={{$env.NOTIFICATION_FROM_EMAIL || 'codes@kivalao.app'}}",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "Vos offres partenaires",
        "text": "=Voici vos codes exclusifs : {{$json.codes}}\nIls expirent selon les conditions indiqu\u00e9es dans chaque offre."
      }
    },
    {
      "id": "Respond_Success",
      "name": "Respond to caller",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1950,
        200
      ],
      "parameters": {
        "responseBody": "{\"status\":\"queued\"}",
        "responseCode": 200,
        "responseData": "lastNode",
        "responseMode": "onReceived"
      }
    }
  ],
  "connections": {
    "Distribution Webhook": {
      "main": [
        [
          {
            "node": "GET Partner Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Partner Offers": {
      "main": [
        [
          {
            "node": "Split Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Offers": {
      "main": [
        [
          {
            "node": "POST Generate Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Email Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Generate Code": {
      "main": [
        [
          {
            "node": "Split Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Payload": {
      "main": [
        [
          {
            "node": "SendGrid - Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendGrid - Send": {
      "main": [
        [
          {
            "node": "Respond to caller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to caller": {
      "main": [
        []
      ]
    }
  }
}